@import url('https://fonts.googleapis.com/css?family=Montserrat');


.quote-container {
padding-top: 2rem;
   display: grid;
   grid-template-columns: 10rem 50%;
   justify-content: center;
   align-items: center;
   font-family: Montserrat;
  }

.quote-container h2 {
    font-size: 1.2rem;
    color: #333;
}

.quote-container h5 {
  margin-top: 1rem;
  font-size: 0.8rem;
}

  .quote-container img {
      height: auto;
      width: 10rem;
  }